<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All suites">
    <suite-files>
<!--        <suite-file path="./register and login.xml" />-->
<!--        <suite-file path="./user actions.xml" />-->
        <suite-file path="./user buy.xml" />
    </suite-files>
</suite>